<div>
  <div appD3SliderUpper
       id="sliderUpper"
       [class.collapsed]="!isLiveModeActive"
       [minValue]="min$ | async"
       [maxValue]="max$ | async"
       [step]="step"
       [rangeChosen]="rangeChosen$ | async"
       [isLockSectionHidden]="!isLiveModeActive"
       [isLeftLocked]="isLockedLeft$ | async"
       [isRightLocked]="isLockedRight$ | async"
       (leftLockChange)="lockLeftChange($event)"
       (rightLockChange)="lockRightChange($event)"
       (rangeChosenChange)="onRangeChange($event)">
  </div>

  <div class="scale-margin">
    <app-timeline-scale [min]="min$ | async"
                        [max]="max$ | async">
    </app-timeline-scale>
  </div>
</div>
