.timeline-scale {
  padding: 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.timeline-scale-marker {
  width: 2px;
  height: 15px;
  margin-left: -1px;
  position: absolute;
  background-color:
  #CCCCCC;
  box-sizing: border-box;
  direction: ltr;
  font-family: Arial;
}

.timeline-scale-value {
  margin-top: 8px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  transform: translate3d(-50%,50%,0);
  font-family: Arial;
}
