@import "~nouislider/distribute/nouislider.min.css";

.upperSlider {
  margin-bottom: 4em;
  margin-top: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.noUi-value-horizontal {
  font-size: 12px;
  margin-top: 5px;
}

.noUi-handle::after, .noUi-handle::before {
  width: 0px;
  height: 0px;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -5%;
}
