@import "~nouislider/distribute/nouislider.min.css";

.format-slider {
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial;
}

.noUi-value-horizontal {
  font-size: 12px;
  margin-top: 9px;
}

.noUi-handle::after, .noUi-handle::before {
  width: 0px;
  height: 0px;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -5%;
}
