.timeline-scale {
  padding: 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.markerPriority1 {
  background-color: #888888;
  height: 15px;
}
.markerPriority2 {
  background-color: #AAAAAA;
  height: 12px;
}
.markerPriority3 {
  background-color: #CCCCCC;
  height: 8px;
}

.valuePriority1 {
  color: #888888;
  font-size: 14px;
}
.valuePriority2 {
  color: #AAAAAA;
  font-size: 12px;
}
.valuePriority3 {
  color: #CCCCCC;
  font-size: 10px;
}

.timeline-scale-marker {
  width: 2px;
  margin-left: -1px;
  position: absolute;
  box-sizing: border-box;
  direction: ltr;
  font-family: Arial;
}

.timeline-scale-value {
  margin-top: 8px;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  transform: translate3d(-50%,50%,0);
  font-family: Arial;
  white-space: nowrap;
}
