<app-timeline-frame></app-timeline-frame>
<!--TODO remove-->
<!--<div class="example">-->
  <!--<div class="example__row">-->
    <!--<div class="example__row&#45;&#45;column" style="color: #BE148E"><i class="fa fa-lock"></i></div>-->
    <!--<div class="example__row&#45;&#45;column"><i class="fa fa-unlock"></i></div>-->
  <!--</div>-->
  <!--<div class="example__row">-->
    <!--<div class="example__row&#45;&#45;column" style="color: #000000"><i class="fa fa-refresh"></i></div>-->
    <!--<div class="example__row&#45;&#45;column" style="color: #FFcc00"><i class="fa fa-exclamation-triangle"></i></div>-->
  <!--</div>-->
  <!--<div class="example__row">-->
    <!--<div class="example__row&#45;&#45;column"><i class="fa fa-caret-left"></i></div>-->
    <!--<div class="example__row&#45;&#45;column"><i class="fa fa-caret-right"></i></div>-->
  <!--</div>-->
<!--</div>-->
