@import '../scss/global-variables';

:host {
  line-height: 1rem;
  font-size: 1rem;
  font-family: Arial, serif;

  app-timeline-frame {
    min-height: $upper-slider-height + $scale-height + $lower-slider-height + $scale-height;
  }
}
