@import '../../../scss/global-variables';

.timeline-scale {
  padding: 0;
  height: $scale-height;
  top: 100%;
  left: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.marker {
  background-color: $grey-middle;
  width: .125rem;
  position: absolute;
  box-sizing: border-box;
  direction: ltr;

  &--priority-1 {
    height: .625rem;
    opacity: $opacity-full;
  }
  &--priority-2 {
    height: .5rem;
    opacity: $opacity-middle;
  }
  &--priority-3 {
    height: .325rem;
    opacity: $opacity-low;
  }
}

.value {
  color: $grey-middle;
  margin-top: .125rem;
  margin-left: .075rem;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  transform: translate3d(-50%,50%,0);
  white-space: nowrap;

  &--priority-1 {
    font-size: .9rem;
    opacity: $opacity-full;
  }
  &--priority-2 {
    font-size: .75rem;
    opacity: $opacity-middle;
  }
  &--priority-3 {
    font-size: .625rem;
    opacity: $opacity-low;
  }
}
