@import '../../scss/global-variables';

:host {
  display: flex;
  font-family: inherit;
}

.centering {
  height: $lower-slider-height + $scale-height + $upper-slider-height + $scale-height;
  align-items: center;
  display: flex;
  justify-content: center;
  color: $grey-middle;

  i {
    vertical-align: middle;
    margin-right: .5rem;
  }
}

.content {
  width: 100%;
  height: $upper-slider-height + $scale-height + $lower-slider-height + $scale-height;
  box-sizing: border-box;
}
