<app-timeline-sidebar *ngIf="!error && configuration && configuration.period > 0"
                      [isInitialized]="initialized"
                      [isPeriodicTaskInProgress]="periodicTaskInProgress"
                      [isRefreshButtonActive]="refreshButtonActive"
                      (onRefresh)="refreshTimeline()">
</app-timeline-sidebar>

<div class="content">
  <div *ngIf="initialized; else loader">
    <div *ngIf="!error; else errorHandler">
      <app-timeline-slider-upper></app-timeline-slider-upper>
      <app-timeline-slider-lower></app-timeline-slider-lower>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="centering">
    <i class="fa fa-cog fa-spin fa-2x"></i>
    <span>Loading&hellip;</span>
  </div>
</ng-template>

<ng-template #errorHandler>
  <app-timeline-configuration [errorMsg]="error" (config)="onSubmit($event)"></app-timeline-configuration>
</ng-template>
