@import '../../scss/global-variables';

:host {
  font-family: inherit;
}

.frame-wrapper {
  background-color: $color-background;

  &__header {
    overflow: hidden;
    color: $grey-middle;
    font-size: 1.125rem;
  }
}

.content {
  height: $upper-slider-height + $scale-height + $lower-slider-height + $scale-height;
  box-sizing: border-box;
}

.centering {
  height: $lower-slider-height + $scale-height + $upper-slider-height + $scale-height;
  align-items: center;
  justify-content: center;
  color: $grey-middle;

  i {
    vertical-align: middle;
    margin-right: .5rem;
  }
}

.collapsed {
  height: $lower-slider-height + $scale-height + $upper-slider-collapsed-height + $scale-height;
}

.m-lr {
  margin-left: .125rem;
  margin-right: .125rem;
}
