<h1>
  {{title}}
</h1>
<div class="timeline-border">
  <div class="timeline-background">
    <app-timeline-frame [min]="min" [max]="max" [step]="step" (range)="handleRange($event)" ></app-timeline-frame>
  </div>
</div>
<div>
  <label>Size of element: </label>{{this.step}}</div>
<div>
  <label>Start: </label>{{this.min}}</div>
<div>
  <label>Elements outside: </label>{{((this.max - this.min) / this.step)}}</div>
<div>
  <label>End: </label>{{this.max}} =({{this.step}} * {{((this.max - this.min) / this.step)}} + {{this.min}})</div>
<button (click)="addBox()">Add new box</button>
<button (click)="addBadBox()">Add BAD box</button>
<!--<div>-->
  <!--<label>Range: {{this.outputRange !== undefined ? this.outputRange[0] : inak}}</label></div>-->
