<div class="format-slider">
  <div class="timeline-lock">
    <app-timeline-lock></app-timeline-lock>
  </div>

  <div appD3Slider
       id="slider1"
       [minValue]="min"
       [maxValue]="max"
       length="964"
       [step]="step"
       [lineWidth]="14"
       [thumbSize]="8"
       [rangeChosen]="rangeChosen"
       [isLowerSlider]="false"
       (rangeChosenChange)="onRangeChange($event)">
  </div>

  <div class="scale-margin">
    <app-timeline-scale [min]="min" [max]="max"></app-timeline-scale>
  </div>
</div>
