@import "../../../../node_modules/nouislider/distribute/nouislider.min.css";

.format-slider {
  margin: 1em 20px;
  font-family: Arial;
}

.noUi-value-horizontal {
  font-size: 12px;
  margin-top: 9px;
}

.noUi-handle::after, .noUi-handle::before {
  width: 0px;
  height: 0px;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -5%;
  white-space: nowrap;
}
.timeline-lock {
  height: 30px;
}
