<!--<div class="time-label-div">-->
  <!--<app-time-label [isLeft]="false" [range]="rangeChosen" class="time-label-right"></app-time-label>-->
  <!--<app-time-label [isLeft]="true" [range]="rangeChosen" class="time-label-left"></app-time-label>-->
<!--</div>-->
<div class="frame-wrapper">
  <div class="sidebar">
    <div class="icon">
      <div class="center">
        <i class="fa fa-refresh fa-spin"></i></div>
      </div>
    <div class="icon orange tooltip">
      <span class="tooltiptext">Tooltip</span>
      <i class="fa fa-exclamation-triangle center"></i>
    </div>
    <!--<div class="icon">A</div>-->
    <!--<div class="icon">A</div>-->
  </div>

  <div class="content">
    <div *ngIf="initialized; else loader">
      <div *ngIf="!error; else errorHandler">
        <app-timeline-slider-upper></app-timeline-slider-upper>
        <app-timeline-slider-lower></app-timeline-slider-lower>
      </div>

      <ng-template #errorHandler>
        <div class="centering">
          <div class="text-center">
            <div>Error {{ error }}</div>
            <button type="button" (click)="initializeTimeline()"><i class="fa fa-refresh"></i>Refresh</button>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-template #loader>
      <div class="centering">
        <i class="fa fa-cog fa-spin fa-2x"></i>
        <span>Loading&hellip;</span>
      </div>
    </ng-template>
  </div>
</div>
