$upper-slider-height: 3.25rem;
$upper-slider-collapsed-height: 2rem;  // hidden locker row
$lower-slider-height: 2rem;
$scale-height: 1.5rem;

$grey-middle: #636466;
$color-warn: #ffcc00;
$color-background: #fafafa;

$opacity-full: 1;
$opacity-middle: .75;
$opacity-low: .325;
