@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "global-variables";
@import "tooltips";

.pointer {
  cursor: pointer;
}

button {
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  padding: .375rem .75rem;
}
button:disabled {
  cursor: default;
}

input {
  padding: 0;
  box-sizing: border-box;
}

.w-full {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline-block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.fa.fa-unlock{
  color: $grey-low;
}

.fa.fa-lock{
  color: $color-lock;
}
