.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12rem;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  border-radius: .25rem;
  padding: .25rem 0;
  font-family: Arial;
  font-size: .75rem;
  opacity: .875;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -.75rem;
  left: 120%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
